<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/day10a.css" />
</head>

<body ng-cloak="true">
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration (Assignment)</h1>
        <form name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
            <div class="form-group">
                <label for="email">Email* </label>
                <input id="email" name="email" type="email" placeholder="Enter email@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                    </div>
                    <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <label for="password">Password*</label>
                    <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="confirmpassword">Confirm Password*</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" placeholder="Enter Password again" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                    <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                            </div>
                            <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                    <span class="glyphicon glyphicon-alert"></span> Password do not match
                            </div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="fullName">Name*</label> 
                    <input id="fullName" name="fullName" type="text" placeholder="Enter Name" class="form-control" ng-model="ctrl.user.fullName" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.fullName.$touched || ctrl.registrationform.$submitted">
                                <div data-ng-show="ctrl.registrationform.fullName.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span> Name is required
                                </div>
                    
                    </div>
            </div>
            <div class="form-group">
                    <label for="gender">Gender*</label>
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M" ng-checked="true"/>Male
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" />Female
             
            </div>

            <div class="form-group">
                    <label for="dob">Date of Birth*</label>
                    <input id="dob" name="dob" type="date" ng-model="ctrl.user.dob" class="form-control" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.dob.$touched || ctrl.registrationform.$submitted">
                                <div data-ng-show="ctrl.registrationform.dob.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span> Date of Birth is required
                                </div>
                                <div data-ng-show="ctrl.registrationform.dob.$error.required || ctrl.minAge()">
                                        <span class="glyphicon glyphicon-alert"></span> Minimal age for Registration is 18 years old but you are {{ctrl.userAge}} years old.
                                </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="address">Address*</label>
                    <input id="address" name="address" type="text" ng-model="ctrl.user.address" class="form-control" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.address.$touched || ctrl.registrationform.$submitted">
                                <div data-ng-show="ctrl.registrationform.address.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span> Address is required
                                </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="nationality">Country*</label>
                    <select ng-model="ctrl.user.selectedNationality" class="form-control" id="nationality">
                        <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
                    </select>
                    <div class="validation" data-ng-show="ctrl.registrationform.$submitted && ctrl.user.selectedNationality==0">
                                 <span class="glyphicon glyphicon-alert"></span> Country is required

                    </div>
            
            
            </div>
            
            <div class="form-group">
                    <label for="contactNumber">Contact Number*</label>
                    <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contactNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 40 || event.charCode == 41 || event.charCode == 45" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                            </div>

                    </div>
            </div>

            <div class="form-group">
                <hr/>
                <div ng-show= "ctrl.onSubmitshow()">
                                <h2>Thank you. Your Submission is sucessful</h2>
                               
                </div>
                <input id="submit" name"submit" type="submit" class="btn btn-success"  />
                <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
                
            </div>
            
                
        </form>

    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="/app/app.module.js"></script>
    <script src="/app/app.controller.js"></script>
    
</body>

</html>